<div v-if="loaded">
  <div v-if="curr">
    <div class="grid">
      <div>        
        <h4 class="title">{{ curr.name }}</h4>
        <p>
          Začátek podávání návrhů: {{ curr.submission_start | date }}<br/>
          Konec navrhování: {{ curr.submission_end | date }}<br/>
          Začátek ověřování návrhů: {{ curr.thinking_start | date }}<br/>
          Začátek hlasování v anketě: {{ curr.voting_start | date }}<br/>
          Konec hlasování: {{ curr.voting_end | date }}<br/>
          Limit rozpočtu návrhu: {{ curr.budgetlimit }} Kč<br/>
          Počet palečků základní podpory: {{ curr.minimum_support }}
        </p>
      </div>
      <router-link :to="{name:'paroform'}" role="button">
        podat/upravit projekt
      </router-link>
    </div>
    
    <hr />
    <kbd v-if="projekty.length === 0">zatím žádné návrhy nedorazily :(</kbd>
    <div v-else class="grid">
      <ProjectCard v-for="i,idx in projekty" :key="idx" 
          :proj="i" :call="curr" />
    </div>
  </div>
  <kbd v-else>Není žádná aktuální výzva</kbd>
</div>